{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}
{# Affichage des services présents au parc #}

{% block stylesheets %}
    <style>
        body {
            background-color: skyblue;
        }

        table {
            width: 90%;
            border-collapse: collapse;
            border-top: 1px solid #030000; 
            
        }
        th, td {
            border: 1px solid #030000;
            padding: 8px;
        }
       
       
        
        
    </style>
{% endblock %}

{% block body%}
    <h1>Les services que nous offrons</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.libelle }}</td>
                    <td>{{ service.description }}</td>
                  
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun service n'est défini.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
