
.containerCR {
    text-align: left; /* S'assure que le texte à l'intérieur est aligné à gauche */
    margin: 0; /* Évite les marges par défaut qui pourraient pousser le contenu */
    padding: 0; /* Évite les rembourrages par défaut qui pourraient pousser le contenu */
    width: 100%; 
}
.table {
        width: auto;;
        margin-top: 20px;
    }

.table th, .table td {
        text-align: left;
        padding: 8px;
    }

/* .table-striped tbody tr:nth-of-type(odd) {
        background-color: #d63737;
    }*/
   .containerCR { 
        background-color: #d63737;
    }