{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des employés</h1>
        <table class="table">
            <thead>
                <th>Identifiant</th>
                <th>Adresse mail</th>        
                <th>Nom utilisateur</th>    
                <th>role</th>  
            </thead>        
      
            {% for user in user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if roles == "ROLE_ADMIN" %}
                                Administrateur
                            {% elseif roles == "ROLE_USER" %}
                                Utilisateur
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                     <td colspan="5">Pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
  
    </table>
   
</div>
{% endblock %}


