{% extends 'base.html.twig' %}

{% block title %}Les habitats{% endblock %}

{% block body%}
    <h1>Les habitats de vie de nos animaux</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Commentaire</th>
                <th>Photo</th> 
            </tr>
        </thead>
        <tbody>
            {% for habitat in habitats %}
                <tr>
                    <td>{{ habitat.nom }}</td>
                    <td>{{ habitat.description }}</td>
                    <td>{{ habitat.commentairehabitat }}</td>
                    {# <td>{{habitat.photo }}</td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'habitat défini.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
