{% extends 'base.html.twig' %}

{% block title %}Rapport Enregistré{% endblock %}

{% block body %}
    <h1>Rapport Enregistré avec succès!</h1>
    <a href="{{ path('app_rapportvetonew') }}">Créer un nouveau rapport</a>
{% endblock %}