{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Animaux</h1>
    <ul>
        {% for animal in animals %}
            <li>
                <a href="{{ path('animal_nbanimal', {'id': animal.id}) }}">
                    {{ animal.prenom }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}