{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    <h1>Merci de nous avoir contacté</h1>
    <p>Votre message a été envoyé avec succès. Nous vous répondrons dès que possible.</p>
  
{% endblock %}