{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<h1>Rapports de nourriture</h1>

<table>
    <thead>
        <tr>
            <th>Animal</th>
            <th>Nourriture</th>
            <th>Quantité</th>
        </tr>
    </thead>
    <tbody>
        {% for rapport in rapports %}
            <tr>
                <td>{{ rapport.animal.name }}</td>
                <td>{{ rapport.nourriture }}</td>
                <td>{{ rapport.quantite }}</td>
            </tr>
        {% endfor %}
    </tbody> 
</table>



{% endblock %}
